@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior-y: none;
  background: #363636;
  background: -webkit-radial-gradient(top left, #363636, #090909);
  background: -moz-radial-gradient(top left, #363636, #090909);
  background: radial-gradient(to bottom right, #363636, #090909);
}

/* CUSTOM STYLE */
.nav_menu {
  position: relative;
  z-index: 10;
}

.nav_menu::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -4px;
  width: 0;
  background: #FFF;
  transition: width 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
}

.nav_menu:hover::after {
  width: 100%;
}

.nav_menu-active::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -4px;
  width: 100%;
  background: #FFF;
}

.game_menu {
  position: relative;
}

.game_menu:hover {
    color: rgb(226, 224, 204);
}

.game_menu::after, .game_menu::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #ffffff;
}

.game_menu:before {
  left: -2.5px;
}

.game_menu::after {
  right: 2.5px;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.game_menu:hover:before {
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.game_menu:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

