@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Data_trash";
  src: url("../assets/fonts/data_trash.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* SCREEN SIZE */
  --screen-sm : 640px;
  --screen-md : 768px;
  --screen-lg : 960px;
  --screen-xl : 1280px;
  --screen-xxl : 1920px;

  /* COLOR */
  --font-color: #d4d4d8;
  --policy-color: #6b7280;
  --background-color: #363636;

  /* FONT SIZE */
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.874rem;

  /* FOOTER */
  --footer-icon-size: 1.5rem;
  --footer-icon-max-size: 2rem;
  /* ANIMATION */
  --icon-scale: 1.1;
  --transform-scale: scale(var(--icon-scale));
  --dropShadow: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
  /* COPYRIGHT */
  --footer-font-size-xs: 0.75rem / 1.125rem;
  --footer-font-size-sm: 0.874rem / 1.375rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  color: var(--font-color);
  background: var(--background-color);
  background: -webkit-radial-gradient(top left, #363636, #090909);
  background: -moz-radial-gradient(top left, #363636, #090909);
  background: radial-gradient(to bottom right, #363636, #090909);
}

/* CUSTOM STYLE */

/* NAVIGATION */
.nav_menu {
  position: relative;
}

.nav_menu::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -4px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
}

.nav_menu:hover::after {
  width: 100%;
}

.nav_menu-active::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -4px;
  width: 100%;
  background: #fff;
}

/*  ====================================== */
/*  ============== GAME MENU ============= */
/*  ====================================== */

.game_menu {
  position: relative;
}

.game_menu:hover {
  color: rgb(226, 224, 204);
}

.game_menu::after,
.game_menu::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #ffffff;
}

.game_menu:before {
  left: -2.5px;
}

.game_menu::after {
  right: 2.5px;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.game_menu:hover:before {
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.game_menu:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/*  ====================================== */
/*  =============== FOOTER =============== */
/*  ====================================== */

.social-icon__image {
  width: var(--footer-icon-size);
  height: var(--footer-icon-size);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

@media (min-width: 960px) {
  .social-icon__image {
    width: var(--footer-icon-max-size);
    height: var(--footer-icon-max-size);
  }
}

@media (min-width: 1280px) {
  .social-icon__container:hover .social-icon__image {
    transform: var(--transform-scale);
    filter: var(--dropShadow);
  }
}

.copyright {
  font-size: var(--font-size-xs);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  .copyright {
    font-size: var(--font-size-sm);
  }
}

.policy {
  color: var(--policy-color);
}
